body
{
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.canvas
{
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.error
{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: white;
}